<section class = "promotion">
    <a href="/"></a><img src="img/promotion.jpg" alt="promotional banner" id="promo"></a>
    <div id = "gradient"></div>
</section>

<h1>Categories</h1>
<section class = "categories">
    {{#each categories}}
    <div class = "element">
        <a href="/"><img src="{{this.img}}" alt="img"></a>
        <p>{{this.title}}</p>
    </div>
    {{/each}}
</section>

<h1>Bestsellers</h1>
<section class = "bestsellers">  
    {{#each data}}      
        <div class = "element">
        <a href="/products/description/{{this.id}}"><img src="img/{{this.productImg}}" alt="{{this.name}}"></a>
        <p>{{this.name}}</p>
        </div>
    {{/each}}
</section>