<section class = "formspace">

    <!--enctype needed here because we're uploading a binary file-->
    <form action="/products/add" method="POST" enctype="multipart/form-data"> <br>
    <span class="formheading">Create a product</span><br><br>
    <label for="name">Product Name</label> <br>
    <input type="text" id = "name" name = "name" value="{{form.nameholder}}"> <br>
    <div class="error">{{errors.[0]}}</div> <br>

    <label for="price">Price</label> <br>
    <input type="text" id = "price" name = "price" value="{{form.priceholder}}"> <br>
    <div class="error">{{errors.[1]}}</div> <br>
    
    <label for="description">Description</label> <br>
    <input type="text" id = "description" name = "description" value="{{descholder}}"> <br>
    <div class="error">{{errors.[2]}}</div> <br>

    <label for="category">Category</label> <br>
    <input type="text" id = "category" name = "category" value="{{catholder}}"> <br> <br>
    <div class="error">{{errors.[3]}}</div>

    <label for="quantity">Quantity</label> <br>
    <input type="text" id = "quantity" name = "quantity" value="{{quantityholder}}"> <br> <br>
    <div class="error">{{errors.[4]}}</div>

    <input type="checkbox" id="bestseller" name="bestseller" value="bestseller" checked>
    <label for="bestseller">Bestseller</label><br> <br>

    <label>File Upload</label> 
    <input type="file" name="productImg" id="productImg"> <br><br>
    

    <input type="submit" value = "Create a product">
</form>
</section>
