<section class = "products">
    <section class = "cart">
        <form action="/products/filter" method="POST">
            <select name="products">
            {{#each categories}}
                <option value="{{this}}" {{#selected}}selected="selected"{{/selected}}>{{this}}</option>
            {{/each}}
            <input type="submit" value="Search">
        </select>
        </form>
        
    </section>
    <div class = "productsgrid">
        {{#each data}}
        <div class = "imgbox">
            <a href="/products/description/{{this.id}}"><img src="/img/{{this.productImg}}" alt="{{this.name}}"> </a>
            <p>{{this.name}} <br> <span class="price">{{this.price}} </span><br></p>
        </div>
        {{/each}}

    </div>
</section>